@use "../styles/variables.scss" as plottr;

.plotlines-container {
  .add-plotline {
    position: sticky;
    left: 0;
    width: plottr.$plotline-width;
    padding: plottr.$element-padding;
    background: plottr.$background-color;
    border: plottr.$border-style;

    &:hover {
      border: plottr.$hover-style;
    }
  }
}
