$background-color: #fff;
$element-padding: 10px;
$plotline-width: 100px;
$chapter-width: 100px;
$input-width: 88px;
$border-width: 2px;
$hover-style: $border-width dashed #000;
$border-style: $border-width solid #fff;
