@use "../styles/variables.scss" as plottr;

.chapter {
  width: plottr.$chapter-width;
  padding: plottr.$element-padding;
  cursor: pointer;
  background: plottr.$background-color;
  border: plottr.$border-style;
  text-align: center;

  &:hover {
    border: plottr.$hover-style;
  }

  .chapter-input {
    width: plottr.$input-width;
  }
}
