<div class="plottr-chapters-container">
  <div class="plottr-plotline-placeholder"></div>

  <div
    class="plottr-chapters"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropChapter($event)"
  >
    @for (chapter of chapters; track chapter.id) {
    <app-plottr-chapter
      cdkDrag
      [chapter]="chapter"
      (changeChapterTitle)="emitChangeChapterTitle($event)"
    ></app-plottr-chapter>

    }
  </div>

  <div class="plottr-add-chapter" (click)="addNewChapter()">+ Add new</div>
</div>
