@use "../styles/variables.scss" as plottr;

.chapters-container {
  display: flex;
  position: sticky;
  top: 0;
  background: plottr.$background-color;
  z-index: 1;

  .plotline-placeholder {
    position: sticky;
    left: 0;
    background: plottr.$background-color;
    flex: 0 0 plottr.$plotline-width;
    padding: plottr.$element-padding;
    z-index: 2;
  }

  .chapters {
    display: flex;
  }

  .add-chapter {
    flex: 0 0 plottr.$chapter-width + 20;
    padding: plottr.$element-padding;
    background: plottr.$background-color;
    border: plottr.$border-style;

    &:hover {
      border: plottr.$hover-style;
    }
  }
}
