<div class="chapters-container">
  <div class="plotline-placeholder"></div>

  <div
    class="chapters"
    cdkDropList
    cdkDropListOrientation="horizontal"
    (cdkDropListDropped)="dropChapter($event)"
  >
    @for (chapter of chapters; track chapter.id) {
    <app-plottr-chapter
      cdkDrag
      [chapter]="chapter"
      (changeChapterTitle)="emitChangeChapterTitle($event)"
    ></app-plottr-chapter>
    }
  </div>

  <button class="add-chapter" (click)="addNewChapter()">+ Add new</button>
</div>
